/************************
GLOBAL STYLES 
************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 10rem;
  font-family: "Anton", sans-serif;
  color: #fffffe;
  letter-spacing: 0.5rem;
}

h2 {
  font-size: 7rem;
  font-family: "Anton", sans-serif;
  color: #af1e4d;
  letter-spacing: 0.5rem;
}

p {
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  color: #fffffe;
  font-weight: 300;
}

.btn {
  font-family: "Montserrat", sans-serif;
  font-weight: medium;
  background-color: #000000;
  border-radius: 0;
  border: 0;
  padding: 2rem 5rem;
  letter-spacing: 0.3rem;
  font-size: 1.2rem;
}

*:focus {
  outline: 0;
}

/* HEADER SECTION */

.header {
  background-image: url("/img/01_background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.row-header {
  margin: 15rem 0 0 0;
}

#logo {
  width: 30rem;
  height: auto;
  margin: 5rem 0 0 5rem;
}

.owl-theme .owl-header .owl-dots {
  position: absolute;
  width: 100%;
  text-align: right;
}

.owl-theme .owl-header .owl-dots .owl-dot span {
  width: 1.2rem;
  height: 1.2rem;
  margin: 5rem 0 0 2rem;
  background: #d6d6d6;
  display: block;
  transition: opacity 400ms ease;
  border-radius: 3rem;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #869791;
}

.owl-dot:focus {
  outline: 0;
}
.btn-1 {
  margin-top: 5rem;
}

/* ABOUT SECTION */

.about {
  background-image: url("/img/02_background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.row-about {
  margin: 15rem 0 0 0;
}

#logo {
  width: 30rem;
  height: auto;
  margin: 5rem 0 0 5rem;
}

.owl-theme .owl-dots {
  position: absolute;
  width: 100%;
  text-align: left;
}

.owl-theme .owl-dots .owl-dot span {
  position: relative;
  top: 20rem;
  width: 1.2rem;
  height: 1.2rem;
  margin: 0 2rem 0 0;
  float: right;
  background: #d6d6d6;
  display: block;
  transition: opacity 400ms ease;
  border-radius: 3rem;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #869791;
}

.btn-2 {
  margin-top: 5rem;
}

/* WORK SECTION */

.work {
  background-image: url("/img/011_background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

#logo {
  width: 30rem;
  height: auto;
  margin: 5rem 0 0 5rem;
}

.owl-theme .owl-dots {
  position: absolute;
  width: 100%;
  text-align: left;
}

.owl-theme .owl-dots .owl-dot span {
  position: relative;
  top: 20rem;
  width: 1.2rem;
  height: 1.2rem;
  margin: 0 2rem 0 0;
  float: right;
  background: #d6d6d6;
  display: block;
  transition: opacity 400ms ease;
  border-radius: 3rem;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #869791;
}

.btn-3 {
  margin-top: 5rem;
}

/* TECHNOLOGY SECTION */

.technology {
  background-image: url("/img/011_background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

#logo {
  width: 30rem;
  height: auto;
  margin: 5rem 0 0 5rem;
}

.owl-theme .owl-dots {
  position: absolute;
  width: 100%;
  text-align: left;
}

.owl-theme .owl-dots .owl-dot span {
  position: relative;
  top: 20rem;
  width: 1.2rem;
  height: 1.2rem;
  margin: 0 2rem 0 0;
  float: right;
  background: #d6d6d6;
  display: block;
  transition: opacity 400ms ease;
  border-radius: 3rem;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #869791;
}

.btn-4 {
  margin-top: 5rem;
}

/* TEAM SECTION */

.team {
  background-image: url("/img/02_background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

#logo {
  width: 30rem;
  height: auto;
  margin: 5rem 0 0 5rem;
}

.owl-theme .owl-dots {
  position: absolute;
  width: 100%;
  text-align: left;
}

.owl-theme .owl-dots .owl-dot span {
  position: relative;
  top: 20rem;
  width: 1.2rem;
  height: 1.2rem;
  margin: 0 2rem 0 0;
  float: right;
  background: #d6d6d6;
  display: block;
  transition: opacity 400ms ease;
  border-radius: 3rem;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #869791;
}

.btn-4 {
  margin-top: 5rem;
}
